[submodule "OpenMVG"]
	path = OpenMVG
	url = https://github.com/openMVG/openMVG
[submodule "VCG"]
	path = VCG
	url = https://github.com/cdcseacave/VCG
[submodule "OpenMVS"]
	path = OpenMVS
	url = https://github.com/cdcseacave/openMVS
[submodule "example/sceaux-castle"]
	path = example/sceaux-castle
	url = https://github.com/openMVG/ImageDataset_SceauxCastle
